body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    width: 100%;
}

/* Partie gauche */
.gauche {
    background: url('../images/cristal.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 40px 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;   /* centre horizontalement */
    justify-content: space-between; /* espace entre haut et bas */
    position: relative;
    text-align: center;
    border-bottom-right-radius: 300px;
    border-top-right-radius: 300px;
    margin-left: -90px;
    margin-top: 75px;
    height: 70vh;
}


.gauche p {
    margin-left: 45px;
}

/* Les icônes sociales collées en bas */
.social-icons {
    margin-top: auto;       /* pousse vers le bas */
    margin-bottom: 20px;    /* espace avec le bord */
}

.social-icons a {
    color: #f59761;
    margin: 0 15px;
    font-size: 30px;
}


.desktop {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 80px;
}



/* Partie droite */
.droite {
    padding: 40px 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #aca8aa;
    margin-left: 50px;
}

.mobilel {
    display: none;
}

.droite h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.droite p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

form input {
    background-color: #c4bfbf;
    font-size: 14px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #0F0147;
    border-radius: 10px;
    width: 85%;
    color: #333;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

form input::placeholder {
    color: rgb(78, 74, 74);
}

.forgot-password {
    font-size: 12px;
    color: #1e40af;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
    
}

.connexion-button {
    font-size: 16px;
    color: white;
    background: linear-gradient(45deg, #8ab5dd, #1f023a);
    border: none;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 90%;
}

.connexion-button:hover {
    background: linear-gradient(45deg, #1f023a, #8ab5dd);
}

.enregistre {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

.enregistre a {
    color: #1e40af;
    text-decoration: none;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .gauche {
        display: none;
    }

    .droite {
        background-color: #0F0147;
        width: 100%;
        border: none;
        height: 100%;
        margin-left: -39px;
    }

    .droite .ouais {
        display: none;
    }
    
    .wow {
        background-color: white;
        border: 10px solid white;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 115%;
        margin-top: 50px;
    }

    .mobilel {
        display: block;
        width: 200px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    form input {
        margin-left: 60px;
        width: 100%;
    }

    form label {
        margin-left: 60px;
    }

    .connexion-button {
        margin-left: 60px;
        width: 80%;
    }
}

/* Appliquer un cercle aux images */
.logo img {
    width: 200px;        /* taille de l'image */
    height: 50px;       /* même valeur pour largeur et hauteur */
    object-fit: cover;   /* recadre l'image pour remplir le cercle */
    border-radius: 50%;  /* arrondit les coins pour former un cercle */
    border: 3px; /* optionnel : ajoute une bordure */
    
}



.password-container {
    position: relative;
    width: 80%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* espace pour l’icône */
}

.toggle-password {
    position: absolute;
    right: -40px;
    top: 35%;
    transform: translateY(-50%); /* centre verticalement */
    cursor: pointer;
    color: #666;
}
